.Animation {
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  margin-top: 1em;
}

.hidden {
  display: none;
}

.wrapper {
  /* border: green 5px solid; */
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  height: 15vh;
}

.rail-logo-container,
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bus-type {
  position: absolute;
  text-align: center;
  padding-top: 5.5em;
  font-weight: bold;
  color: white;
  font-family: "Archivo", sans-serif;
}

.rail-logo,
.animation-image {
  /* padding-top: 10px; */
  height: 100%; /* Images will have the same height as their parent container */
}

.rail-logo {
  padding-left: .1em;
  padding-right: .1em;
  padding-bottom: 1em;
}

.rail-logo-container {
  flex: 1 1 1; /* Flex-grow, flex-shrink, and flex-basis */
  z-index: 100;
}

.image-container {
  flex: 3 1 1; /* Flex-grow, flex-shrink, and flex-basis */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 60vw;
}

.animation-text-container {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-text-container p {
  position: absolute;
  max-width: 80%;
  text-align: center;
  color: white;
  font-size: 4.5em;
  font-family: "Archivo", sans-serif;
}

.time-text {
  animation: fade 3.45s infinite;
  animation-delay: 1.725s;
}
.code-text {
  animation: fade 3.45s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
