.BusType {
    border-radius: 10px;
    border: 1px ghostwhite solid;
    display: flex;
    height: 10vh;
    background-color: white;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
}

.logo {
    margin: 1vh;
    filter: invert();
    border-radius: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text-container * {
    margin: 0px;
}

.title {
    font-size: 1.6em;
    filter: invert();
    margin-bottom: .15em;
}
.bus-info {
    font-size: .8em;
    margin-left: 1vw;
}